
* {
  margin: 0;
  padding: 0;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #1e1e2f;
  color: #f0f0f0;
  line-height: 2;
  font-size: medium;
  
}

header {
  background-color: #4a90e2; 
  color: #fff;
  text-align: center;
  font-size:20px;
  padding: 50px;

}

.container {
  max-width: 1000px;
  margin:auto;
  padding: 40px 20px;
}
h2 {
  color: #4a90e2;
  border-bottom: 3px double #4a90e2;
  display: inline-block;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

.card {
  background: #2d2d48;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
  transition: transform 0.3s;

}

.card:hover {
  transform: translateY(-5px);
}


footer {
  background: #111;
  color: #888;
  text-align: center;
  padding: 20px;
  font-size:16px ;
}